body{
    background-color: #1f242d;
    /* overflow-x: hidden; */
    /* background-color: black; */
}
  /* html {
  scroll-behavior: smooth;
} */
.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}


@keyframes spin-slow {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .animate-spin-slow {
    animation: spin-slow 6s linear infinite;
  }
  .role {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    color: #59ff00;
    -webkit-text-stroke: 0.7px #59ff00;
    animation: display-text 12s linear infinite;
    animation-delay: calc(3s * var(--i));
  }
  
  .role::before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    border-right: 2px solid #59ff00;
    color: #59ff00;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 3s linear infinite;
  }
  
  @keyframes display-text {
    0%, 25% {
      opacity: 1;
      pointer-events: auto;
    }
    25%, 100% {
      opacity: 0;
      pointer-events: none;
    }
  }
  
  @keyframes fill-text {
    0%, 10% {
      width: 0;
    }
    70%, 90% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }

  .nav-link-hover {
    position: relative;
    padding-bottom: 4px;
  }

  .nav-link-hover::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #59ff00;
    transition: width 0.3s ease-in-out;
  }

  .nav-link-hover:hover::after {
    width: 100%;
  }